body{
    background: rgb(35, 235, 235);
}
#container{
    text-align: center;
}
#img{
    width: 400px;
    transition: width 2s, border-radius 2s;
}
#img:hover{
    width: 600px;
    border-radius: 50%;
}